:root { 
--indigo_900_7f:#0033817f; 
--black_900_7f:#0000007f; 
--deep_orange_A100:#e4b07b; 
--gray_900_99:#1c1b1f99; 
--orange_100_01:#ffe1b2; 
--gray_800_02:#5e342e; 
--gray_800_01:#6e4439; 
--black_900_3f:#0000003f; 
--green_A100:#c1ffbc; 
--black_900_87:#00000087; 
--teal_300:#43a0c5; 
--yellow_600:#ffd739; 
--black_900_00:#00000000; 
--blue_gray_700:#464e5f; 
--blue_800_7f:#0057da7f; 
--red_A700:#ff0000; 
--red_A200_01:#f64e60; 
--teal_A700:#00ab9a; 
--gray_600:#a46d4d; 
--pink_50:#ffe2e5; 
--gray_400:#c8c8c8; 
--indigo_900_6c:#0033816c; 
--orange_A200:#ffb440; 
--blue_gray_100:#d9d9d9; 
--gray_800:#623f33; 
--red_A200:#ff4f4f; 
--lime_900:#9d6e48; 
--orange_200:#fdc88e; 
--gray_100_02:#f3fff3; 
--blue_gray_100_6c:#d9d9d96c; 
--black_900_99:#00000099; 
--lime_900_01:#8d5f3d; 
--gray_900_87_01:#181c3287; 
--gray_100_01:#f7faf3; 
--blue_100:#bbd7f8; 
--gray_400_87:#c8c8c887; 
--red_A700_01:#c60808; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--gray_700_01:#5d5d5d; 
--black_900_5b:#0000005b; 
--deep_purple_500:#6750a4; 
--red_300:#c38762; 
--red_500:#f23f44; 
--gray_900_6c:#2121216c; 
--gray_50:#fafafa; 
--blue_100_7e:#bbd7f87e; 
--teal_400:#258cac; 
--light_green_900:#317818; 
--deep_orange_A100_01:#f6b47b; 
--deep_orange_A100_02:#e2a071; 
--black_900:#000000; 
--yellow_700:#ffc33d; 
--light_green_700:#5f8d4e; 
--red_A400:#ff2c52; 
--blue_gray_100_3f:#d9d9d93f; 
--deep_orange_200:#ffa6a6; 
--blue_100_aa:#bbd7f8aa; 
--teal_A700_01:#00bea4; 
--gray_900_02:#181c32; 
--gray_700:#734a3e; 
--blue_gray_200:#b5b5c3; 
--black_900_a2:#000000a2; 
--white_A700_6c:#ffffff6c; 
--gray_600_02:#797575; 
--gray_500:#aca8a8; 
--gray_600_01:#797474; 
--blue_gray_400:#8c8c8c; 
--gray_900_87:#21212187; 
--black_900_6c:#0000006c; 
--gray_900:#212121; 
--gray_900_01:#1c1b1f; 
--red_300_01:#d29771; 
--light_blue_50:#e3f5ff; 
--green_50_7e:#d2ffdc7e; 
--blue_100_6c:#bbd7f86c; 
--orange_100:#ffd7a3; 
--gray_100:#f3f6f9; 
--black_900_32:#00000032; 
--cyan_300:#57b9dd; 
--light_green_50:#edfff1; 
--indigo_900:#003381; 
}